.nav {
    list-style-type: none;
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:outset 3px;
    border-color:darkolivegreen;

}

ul.nav li{
    float: left;
}

ul.nav li a{
    display:block;
    padding: 8px 16px;
    color: green;
    text-decoration: none;
}

ul.nav a:hover{
    background-color: green;
    color: white;
}

.active {
    background-color: lightgrey;
}
body{
    background-color:lightskyblue;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: black;
    text-align: center;
  }