.nav {
    list-style-type: none;
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:outset 3px;
    border-color:darkolivegreen;

}

ul.nav li{
    float: left;
}

ul.nav li a{
    display:block;
    padding: 8px 16px;
    color: green;
    text-decoration: none;
}

ul.nav a:hover{
    background-color: green;
    color: white;
}

.active {
    background-color: lightgrey;
}
body{
    background-color:lightskyblue;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: black;
    text-align: center;
  }
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .griditem {
    background-color: grey;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    border: outset;
  }
  .header1 {
    grid-column:1 /span 3;
    grid-row:1;
  }
  .header2 {
    grid-column:1 /span 3 ;
    grid-row:2;
  }

 .image1 {
    grid-column: 1;
    grid-row:3;
 }
 .para1 {
    Font-size:30px;
    grid-column: 2;
    grid-row:3;
 }