.nav {
    list-style-type: none;
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:outset 3px;
    border-color:darkolivegreen;

}

ul.nav li{
    float: left;
}

ul.nav li a{
    display:block;
    padding: 8px 16px;
    color: green;
    text-decoration: none;
}

ul.nav a:hover{
    background-color: green;
    color: white;
}

.active {
    background-color: lightgrey;
}
body{
    background-color:lightskyblue;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: black;
    text-align: center;
  }
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .griditem {
    background-color: rgb(165, 192, 218);
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 15px;
    border: outset darkgreen;
  }
  .header1 {
    grid-column:1 /span 3;
    grid-row:1;
  }
  .header2 {
    grid-column:1 /span 3 ;
    grid-row:2;
  }

 .image1 {
    grid-column: 1;
    grid-row:3;
 }
 .para1 {
    Font-size:20px;
    grid-column: 2;
    grid-row:3;
 }
 .image2 {
    grid-column:1;
    grid-row:4;
 }
 .para2 {
    grid-column:2;
    grid-row:4;
    font-size:20px;
 }
 .image3 {
    grid-column:1;
    grid-row:5;
 }
 .para3 {
    grid-column:2;
    grid-row:5;
    font-size:20px;
 }
 .image4 {
    grid-row:6;
    grid-column:1;
 }
 .para4 {
    grid-column:2;
    grid-row:6;
    font-size:20px;
 }
 .video {
    grid-column:3;
    grid-row:3;
 }
 table, th, tr{
    border:solid 4px;
    border-radius:10px;
    border-color:navy;

 }
.table {
    font-size:20px;
} 



.a1 {
    font-size: 30px;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
p {
    font-family: "interstate-mono", monospace;
font-weight: 400;
font-style: normal;
}
body {
    font-family: "interstate-mono", monospace;
font-weight: 400;
font-style: normal;
font-size: 10px;
}
